<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            <Pattern>[MartianRobots.*]*</Pattern>
          </Include>
          <Exclude>
            <Pattern>[*.Tests]*Attribute</Pattern>
            <Pattern>[*.Tests]*Exception</Pattern>
            <Pattern>[xunit.*]*</Pattern>
            <Pattern>[Microsoft.*]*</Pattern>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>